<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:22838/"/>
    <add key="RunRemote" value="false"/>
    <add key="RemoteAddress" value=""/>
    <add key="ConnectionDB" value="nopCommerceConnectionString"/>
    <add key="ScreenshotsFolderPath" value="C:\Users\Magja\Documents\nopCommerce\Selenium\Screenshots"/>
    <add key="SqlScriptsPath" value="nopCommerce.Library.Selenium.SQLScripts."/>
  </appSettings>
  <connectionStrings>
    <add name="nopCommerceConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=nopcommerce456;Integrated Security=True;User ID=default456;Password=STHbGbf3-8C]" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>